
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #toggle-btn {
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
  }

  img {
    width: 300px;
    height: auto;
    margin-top: 20px;
  }

  /* Dark mode styles */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }

  body.dark-mode #toggle-btn {
    background-color: #555;
    color: #fff;
  }